<nav>
  <% if current_user %>
    <% if current_user.admin? %>
    <ul class="blog-nav">
      <li class="lu-link"><%= link_to "Lu Page", lu_index_path %></li>

    </ul>
    <% end %>
  <% end %>
</nav>
<section class="header">
  <div class="intro">
    <h1>BIENVENIDOS AL BLOG DE LU AMARANTE</h1>
    <p>Curiosa por naturaleza</p>
  </div>
  <div class="LuImage">
    <%=  image_tag("luProfile.png", class: "introPic") %>
  </div>

</section>

<section class="blogs">

  <% @blogs.each do |blog| %>
    <div class="blog-div">
      <% if @user.profile_photo? %>
        <%= image_tag (@user.profile_photo_url), class: "profile-picture"%>
      <% end %>
      <h1> <%= @user.full_name %></h1>
      <p><%= blog.created_at.strftime("%b")%> <%= blog.created_at.strftime("%d") %></p>
      <h2><%= blog.title %></h2>
      <p><%= blog.comment %></p>

    </div>
  <% end %>

</section>
